<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stylist App</title>

    <!-- styling -->
    <link href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- javascript -->
    <script type="text/javascript" src="/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/api.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-11"></div>
        <div class="col-md-1">
          <input class="btn btn-default logout" type="button" value="Logout">
        </div>
      </div>
    <!-- Header includes title and search field -->
      <header>
        <h1 class="text-center">sty<span id="list_title">list</span></h1>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">

            <form action="/" method="GET" id="main_search">
              <div class="input-group">
                <input type="text" id="main_search_input" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">

                  <button id="main_search_button" class="btn btn-default" type="submit">Go!</button>
                </span>
              </div>
            </form>
          </div>
          <div class="col-md-4">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="#">Restaurants</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Books</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <!-- start divs with list objects -->
      <div class="lists">
        <div class="row">
          <div class="col-md-3 restaurants">
            Restaurants
            <ul class="list-unstyled">
            <% all.forEach(function(item) {  %>
            <%  if (item.type === 'restaurant') {  %>
              <li> <%= item.name %> </li>
            <%  } %>
            <% }) %>
            </ul>
          </div>


          <div class="col-md-3 movies">
            Movies
            <ul class="list-unstyled">
            <% all.forEach(function(item) {  %>
            <%  if (item.type === 'movie') {  %>
              <li> <%= item.name %> </li>
            <%  } %>
            <% }) %>
            </ul>
          </div>
          <div class="col-md-3 products">
            Products
            <ul class="list-unstyled">
            <% all.forEach(function(item) {  %>
            <%  if (item.type === 'purchase') {  %>
              <li> <%= item.name %> </li>
            <%  } %>
            <% }) %>
            </ul>
          </div>
          <div class="col-md-3 books">
            Books
            <ul class="list-unstyled">
              <% all.forEach(function(item) {  %>
              <%  if (item.type === 'book') {  %>
                <li> <%= item.name %> </li>
              <%  } %>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    </div>



  </body>
</html>
