@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: #59CDCD;
  font-family: 'Monda', Arial, sans-serif;
  color: #828282;

  .inactive {
    margin-top: 5px;
    border: 3px solid white;
    color: white;
    background-color: #59CDCD;

  }
  .back {
    margin-left: 30px;
  }

  .inactive:hover {
    background-color: white;
    border: 3px solid white;
    color: #59CDCD;
  }

  header {
    margin: 0 auto;
    h1 {
      color: white;
      font-size: 11em;
      padding-bottom: 20px;
    }
    #list_title {
      color: #FFC5C5;
    }
  }

  .lists{
    margin-top: 60px;
    color: white;
    font-size: 20px;
    text-align: center;
    .headings {
      color: white;
    }

    /*.col-md-3 {
      height: 500px;
    }*/

    .restaurants {
      background-image: url("/pictures/restaurant.jpg");
      height: 400px;
      background-size: cover;
      overflow: scroll;
    }
    .movies {
      background-image: url("/pictures/film3.jpg");
      height: 500px;
      background-size: cover;
      overflow: scroll;
    }
    .products {
      background-image: url("/pictures/shopping.jpg");
      height: 400px;
      background-size: cover;
      overflow: scroll;
    }
    .books {
      background-image: url("/pictures/books2.jpg");
      height: 400px;
      background-size: cover;
      overflow: scroll;
    }

  }
  /*.or {
    margin: 10px 10px;
  }*/

  #list_container {
    width: 750px;
  }


}
