@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: #59CDCD;
  font-family: 'Monda', Arial, sans-serif;
  color: #828282;

  .inactive {
    margin-top: 5px;
    border: 3px solid white;
    color: white;
    background-color: #59CDCD;

  }
  .back {
    margin-left: 30px;
  }
  .create_acct {
    margin-left: -25px;

  }

  .inactive:hover {
    background-color: white;
    border: 3px solid white;
    color: #59CDCD;
  }

  header {
    margin: 0 auto;
    h1 {
      color: white;
      font-size: 11em;
      padding-bottom: 20px;
    }
    #list_title {
      color: #FFC5C5;
    }
  }

  .lists {
    margin-top: 60px;
    color: white;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    .headings {
      color: white;
    }


    .restaurants, .movies, .purchases, .books {

      overflow: scroll;
      overflow-x: hidden;
      height: 400px;
      background-size: cover;
      border: 1.5px solid #59CDCD;
      border-radius: 6px;
      .delete_button{
        background: none;
        padding: 0px;
        border: none;
      }
    }
  }

  .ui-sortable {
    min-height: 300px;
  }

    .restaurants {
      background-image: url("/pictures/restaurant.jpg");
    }
    .movies {
      background-image: url("/pictures/film4.jpg");
    }
    .purchases {
      background-image: url("/pictures/shopping.jpg");
    }
    .books {
      background-image: url("/pictures/book3.jpg");
    }


  #list_container {
    width: 750px;
  }

  .hide_display {
    display: none;
  }

  .delete_button {
    display: none;
  }

  .delete_item:hover > .delete_button {
    display: inline;
  }
}

