@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: #59CDCD;
  font-family: 'Monda', Arial, sans-serif;

  header {
    width: 75%;
    margin: 0 auto;
    h1 {
      color: white;
      font-size: 12em;
    }
    #list_title {
      color: #FFC5C5;
    }
  }

  .lists{
    margin-top: 50px;
    text-align: center;
    ul {
      /*border: 1px solid black;*/
    }
    .restaurants {
      background-color: #B52626;
    }
    .movies {
      background-color: #459393;
    }
    .products {
      background-color: #F5CA73;
    }
    .books {
      background-color: #459393;
    }
  }
  .or {
    margin: 10px 10px;
  }

}
